$font-lato: Lato 
$font-monts: Montserrat
$font-sans: Source+Sans+Pro


body
    font-family: $font-monts
.btn
        border-radius: 20px
        border: 1px solid #4d4d4d
        background-color: #8d81ac
        color: #d4d4d4
        font-size: 21px
        font-weight: 700
        line-height: 20.45px
        &:hover
            box-shadow: 0 18px 27px 2px rgba(0, 0, 0, 0.1)
            background-color: transparent

.fork
    display: flex
    flex-direction: column
    background: url(../img/img-desk.png) center
    text-align: center

    h1
        color: #fff

        

    .title
        color: #8d81ac
        font-size: 24px
        font-weight: 400
        line-height: 34px

    .vers
        color: #848e97
        font-size: 16px
        font-weight: 400
        line-height: 20.45px
        text-transform: uppercase

    