$font-lato: Lato 
$font-monts: Montserrat
$font-sans: Source+Sans+Pro

html
    font-size: 14px


body
    font-family: $font-monts
    text-align: center
    // font-size: 3.2vw

.btn
        border-radius: 1.1rem
        border: 1px solid #4d4d4d
        background-color: #8d81ac
        color: #d4d4d4
        font-size: 1.1rem
        font-weight: 700
       
ul
    list-style: none

.logo-iks
    color: #8d81ac

.fork
    text-align: center

    .btn
        
        transform: translateY(-50%)


    .container-fluid
        background: url(../img/img-desk.png) center
        padding-bottom: 350px

    h1
        color: #d4d4d4
        font-size: 82px
        font-weight: 700
        margin: 0
        

        

    .title
        color: #8d81ac
        font-size: 24px
        font-weight: 400
        line-height: 34px

    .vers
        color: #848e97
        font-size: 16px
        font-weight: 400
        line-height: 20.45px
        text-transform: uppercase

    
    .trial
        color: #848e97
        font-size: 14px
        font-weight: 400

.editor
    overflow: hidden
        
    h2
        color: #635c73
        font-size: 48px
        font-weight: 700
        line-height: 48px
        text-transform: uppercase

    p
        opacity: 0.8
        color: #323232
        font-family: "Source Sans Pro"
        font-size: 16px
        font-weight: 400
        line-height: 26px
        padding: 38px 0




.features
    background: #f4f4f4
    padding-top: 50px

    .left
        h3
            color: #8d81ac
            font-size: 48px
            font-weight: 700
            line-height: 54px

        h4
            color: #323232
            font-size: 16px
            font-weight: 400
            line-height: 21px
        p
            color: #848e97
            font-family: "Source Sans Pro"
            font-size: 14px
            font-weight: 400
            line-height: 21px

        .row
            margin-top: 60px

    .right
        overflow: hidden
        box-shadow: 0 0 25px rgba(0, 5, 5, 0.3)
        background-color: #2b2d2e
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(71, 72, 68, 0) 100%)
        opacity: 0.95

        i
            color: #848e97
            margin: 24px 0 50px

        p
            color: #c7c7c7
            font-size: 14px
            font-weight: 400
            text-align: left
            margin-left: 30px

        p.fork
            margin-top: 24px
            padding-left: 190px

.ssocial
    padding-bottom: 80px
        

    .left
        text-align: left 
        h5
            color: #474747
            font-size: 24px
            font-weight: 700
            margin: 0

        p
            color: #8d81ac
            font-size: 16px
            font-weight: 400
            line-height: 32px

    .social
        color: #848e97

                 

        .my-btn
            border-radius: 2px
            padding: 16px 80px 16px 20px
            color: #d4d4d4
            font-size: 21px
            font-weight: 400

            a
                color: #d4d4d4
                text-decoration: none

                .txt
                    padding-left: 50px
                    

        .git a
            color: #000
            
        .git
            background: #f3f3f3

        .twitter
            background-color: #26a6d1

        .facebook
            background-color: #3b5998

        p 
            padding-top: 20px
        
    // img
    //     margin: 25px 

.testimonials
    padding: 80px 100px 90px
    background: url(../img/Layer_desk.png) center no-repeat
    background-color: #4b3b4e

    h2 
        color: #FFF
        padding-bottom: 70px

    .people 
        padding-bottom: 80px

    .people p
        padding-top: 20px 
        color: #FFF
        font-size: 16px
        font-style: italic
        font-family: $font-sans

    .hr
        border-bottom: 1px solid #c7c7c7

.pricing
    padding: 80px 100px 90px
    background: url(../img/Layer_2desk.png) center no-repeat
    background-color: #4b3b4e
    color: #d4d4d4

    h2 
        color: #FFF
        
    h4
        color: #d4d4d4
        font-weight: 700

    .card
        background-color: #e4eaea1f
        
    .card:hover 
        transform: scaleY(1.1)
        background-color: #3f496b14

    .pricing-card-title
        font-size: 60px
        font-weight: 700

    .duration
        font-size: 14px
        opacity: 0.3    

    .hr
        border-bottom: 5px solid #8d81ac
        margin: 0 30%
        font-size: 5px

    .card-body p
        font-size: 16px
        padding: 0
        margin: 0

    .card-body .btn
        font-weight: 700
        font-size: 12px
        text-transform: uppercase
        color: #FFF


.subscribe
    background-color: #f4f4f4
    
    h3, .container 
        padding: 3.14rem 0
    .btn
        font-size: 0.7rem
        padding: 0.6rem 0
    input
        border-radius: 1.2rem

.links
    text-align: left
    // padding: 0 2rem 2rem 2rem
    padding: 4.5rem 2.5rem


    h3 
        font-size: 2rem
        color: #d3d1da
        margin: 4.1rem 0 2.7rem

    h5 
        color: #323232
        font-size: 1.1rem
        margin-bottom: 2.3rem 0 1.6rem

    p 
        color: #848e97
        font-size: 0.92rem

    .btn-secondary
        background-color: #f4f4f4
        color: #8d81ac
        font-size: 1rem
        line-height: 2rem
        border: none
        border-radius: 2px
        padding: 0 1.4rem

footer
    font-size: 1rem
    padding: 4.5rem 2.5rem
    border-top: 1px solid #c7c7c7
    margin: 0 1rem

    // .container-fluid
    //     border-top: 1px solid #c7c7c7
    //     margin: 0 1rem

    .navbar 
        padding: 0 
        background: transparent !important

    .navbar-brand 
        margin-bottom: 1.7rem

    .navbar-nav
        flex-wrap: wrap

    h5 
        margin-top: 0.7rem

    .nav-link
        padding: 0
        margin: -0.1rem
        color: #8d81ac !important
        font-size: 1.05rem
        letter-spacing: 0.03rem
    
    .address
        margin-top: 2.5rem

        h4 
            color: #31384d
            font-size: 2.14rem
            font-weight: 700
        .avialable
            color: #848e97
            font-size: 0.86rem

        p.address
            width: 50%
    p 
        color: #848e97
        font-size: 1rem
        letter-spacing: 0.28px
        margin: 0


    h5 
        margin-top: 2.71rem
        margin-bottom: 1.5rem
        color: #323232
        font-size: 1.14rem
        font-weight: 700

